html {
	margin: 0% 20%;
	background: #aec;
	font-family: helvetica;
			
}
p {
	margin-top: 5px;
	padding: 5px;
	word-wrap: break-word;
		
}
.elem {
	display: inline;
}
button.elem {
	float: right;
	height: 95%;
	font-size: 12px;
}
.elemcontainer {
	background-color: #add;
	margin: 3px;
	border: 1px solid #ccc;
	width: 90%;
}
